@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

.prompts-wrapper {
    user-select: none;
}

.prompts {
    position: absolute;
    left: 75%;
    top: 1%;
    height: 15%;
    width: 380px;
    padding: 2.1vh;
    color: white;
}

.prompts > .prompt {
    box-sizing: content-box; /* Add this line */
    margin: 0.6vh;
    padding: 1.4vh 1.5vh 1.5vh 1vh; /* Adjust the left padding to move the text back */
    max-width: 300px;
    border-radius: 4px;
    font-weight: 550;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2vh;
    color: white;
}

.prompts > .prompt.primary {
    background: linear-gradient(to right, #1e2233e5, #272d43e0); /* Adjusted gradient colors */
    box-shadow: 0 0 14px rgba(0, 43, 100, 0.3); /* Box shadow with transparency */
}

.prompts > .prompt.error {
    background: linear-gradient(to right, rgba(41, 24, 28, 0.85), rgba(41, 24, 28, 0.65)); /* Adjusted gradient */
    box-shadow: inset 0px 0px 16px rgba(37, 20, 25, 0.25); /* Adjusted glow effect */
    filter: drop-shadow(0 0 4px rgba(41, 24, 28, 0.5)); /* Reduced glow filter */
}

.prompts > .prompt.success {
    background: linear-gradient(to right, rgba(19, 51, 46, 0.9), rgba(19, 51, 46, 0.7)); /* Adjusted gradient */
    box-shadow: 0 4px 12px rgba(15, 46, 44, 0.2), 0 8px 24px rgba(15, 46, 44, 0.2); /* Enhanced box-shadow */
    filter: drop-shadow(0 0 8px rgba(19, 51, 46, 0.5)); /* Increased glow effect */
}

.prompts > .prompt.warning {
    background: rgba(40, 36, 29, 0.8); /* Adjusted alpha value */
    box-shadow: inset 0px 0px 72px rgba(185, 159, 65, 0.2); /* Adjusted alpha value */
}











 
.container {
    display: flex;
}

.interactions {
    position: absolute;
    bottom: 1%; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
}

.interaction,
.text-container {
    margin-right: 15px;
    margin-bottom: 5px;
}

.interaction,
.text-container {
    height: max-content;
    
}

.text {
    height: 23px;

    font-weight: 550;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5vh;
    color: white;
    border-radius: 3px; /* Square corners */
    background-color: rgba(35, 37, 49, 0.9); /* Set the background color to #2B2A33 */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    position: relative; /* Make sure the ::before pseudo-element is positioned relative to this element */
    width: calc(max-content + 20px);
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

.text::before {
    content: ''; /* Add content to the ::before pseudo-element */
    position: absolute;
    top: 5px; /* Add a 3px offset from the top */
    left: 5px; /* Add a 3px offset from the left */
    width: 5px; /* Set a fixed width */
    height: 5px; /* Set a fixed height */
    background-color: #60DBC0; /* Green color */
    z-index: 1; /* Place the square on top of the content of .interaction */
    border-radius: 1px; /* Match the border-radius of .interaction */
    box-shadow: 0 0 10px rgba(4, 245, 188, 1); /* Add a shadow */
}

.interaction-container {
    padding: 0.91vh; /* Adjust the padding as needed */
    max-width: 20px; /* Adjust the width as needed */
    left: -50px;
    font-weight: 550;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5vh;
    color: #65D6BF; /* Change the text color to #65D6BF */
    border-radius: 3px; /* Square corners */
    background-color: rgba(35, 37, 49, 0.9); /* Set the background color to #2B2A33 */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    position: relative; /* Make sure the ::before pseudo-element is positioned relative to this element */
    z-index: 1; /* Set a higher z-index for the text */
    text-shadow: 0 0 8px rgba(101, 214, 191, 0.8); /* Add glow effect to the text */
    margin-bottom: -16px;
}

.interaction-container::before {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute;
    top: 5px; /* Adjust the top position as needed */
    left: 5px; /* Adjust the left position as needed */
    width: calc(100% - 12.5px); /* Adjust the width to fit inside the outer box */
    height: calc(100% - 12.5px); /* Adjust the height to fit inside the outer box */
    border: 1px solid #7DA89F; /* Border color for the inner box */
    border-radius: 2px; /* Border radius for the inner box (smaller) */
    background-color: #13493F; /* Transparent background color for the inner box */
    box-shadow: 0 0 3px 1px #65d6bfcc; /* Add a glowing effect with box-shadow */
    z-index: -1; /* Set a lower z-index for the pseudo-element to be behind the text */
}

.interaction-key {
    text-shadow: 0.0vh 0.0vh 0.3vh black;
    border-right: 2px solid rgba(255, 255, 255, 0.2); /* Darker line separator */
    padding-right: 10px; /* Adjust the padding as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

.interaction-data {
    padding-left: 10px; /* Adjust the padding as needed */
}

.interaction.primary { background-color: #232330; }
.interaction.error { background-color: #232330; }
.interaction.success { background-color: #232330; }